@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 18px;
}


/* Responsive CSS for Mobile Devices */
@media screen and (max-width: 575px){
    p {
        font-size: 16px;
    }
}